.flux-page{
    display: flex;
    justify-content: center;
    &__content{
        width: 60%;
        padding-bottom: 50px;
        &__actions{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            button{
                @include classic-button;
                width: 200px;
                height: 40px;
            }
        }
    }
}

.flux-page__content__article{
    padding: 20px;
    border: 1px solid $personnal_grey;
    border-radius: 10px;
    margin-top: 50px;
    background-color: $light_background_color;
    display: flex;
    flex-direction: column;
    &__head{
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}