.new-ticket-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__content{
        padding: 20px;
        border: 1px solid $personnal_grey;
        margin-top: 50px;
        background-color: $light_background_color;
        border-radius: 10px;
        h2{
            text-align: center;
        }
        form{
            margin-top: 20px;
            display: flex;
            height: 400px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            input[type=text], textarea{
                @include input-text;
            }
            label{
                display: none;
            }
        }
    }
}