.login-page{
    display:flex;
    justify-content: center;
    align-items: center;
    &__section{
        border: 1px solid $personnal_grey;
        border-radius: 10px;
        background-color: $light_background_color;
        padding:20px;
        margin:100px;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            margin:20;
        }
        form{
            display: flex;
            flex-direction: column;
            input{
                margin-top: 20px;
                &[type=submit]{
                    @include classic-button;
                }
            }
        }
        button{
            @include classic-button;
        }
    }
}