body{
    margin:0;
    padding:0;
    color: $personnal_black;
    background-color: $personnal_white;
}
h1, h2, h3, h4{
    font-family: $arial;
}
a{
    color: $princinpal_color;
    text-decoration: none;
    &:hover{
        color: $second_color;
        text-decoration: underline;
    }
}

.review{
    @include review;
    .ticket{
        width: 90%;
        @include mobile{
            width: 95%;
            .classic-button{
                width: 125px;
            }
        }
    }
}

.ticket{
    @include ticket;
}

.classic-button{
    @include classic-button;
}