@mixin classic-button{
    margin: 10px;
    min-width: 150px;
    border: none;
    border-radius: 999px;
    padding: 5px;
    background-color: $light_color;
    color: $personnal_white;
    font-weight: 600;
    &:hover{
        background-color: $princinpal_color;
        transition: 0.3s;
    }
}