@mixin review{
    width: 60%;
    @include tablet{
        width: 75%;
    }
    @include mobile{
        width: 90%;
        .classic-button{
            width: 150px;
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid $personnal_grey;
    margin-top: 50px;
    background-color: $light_background_color;
    border-radius: 10px;
    div{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    &__description{
        width: 80%;
    }
    &__foot{
        justify-content: space-around;
    }
    &__head{
        justify-content: space-between;
    }
}