{% load review_extras %}
<article class="ticket">
    <div class="ticket__head">
        {% if ticket.user == request.user %}
        <p>Vous avez publié un ticket</p>
        {% else %}
        <p>{{ticket.user.username|capfirst}} a publié un ticket</p>
        {% endif%}
        <p>{% display_datetime ticket.time_created %}</p>
    </div>
    <h2>{{ticket.title}}</h2>
    <p class="ticket__description">{{ticket.description}}</p>
    {% if ticket.image %}
    <img src="{{ticket.image.url}}" alt="">
    {% endif%}
    <div class="ticket__foot">
        {% if ticket|is_reviewed %}
        <a href="{% url 'ticket-answer' ticket.id %}"><button class="classic-button">Répondre</button></a>
        {% endif%}
        {% if ticket.user == request.user %}
        <a href="{% url 'modify-ticket' ticket.id %}"><button class="classic-button">Modifier</button></a>
        <a href="{% url 'remove-ticket' ticket.id %}"><button class="classic-button">Supprimer</button></a>
        {% endif%}
    </div>
</article>