{% extends 'review/base.html' %}

{% block main_content %}
<main class="follow-page">
    <section>
        <h2>Suivre d'autres utilisateurs</h2>
        <form action="{% url 'follow_user' %}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Envoyer">
        </form>
    </section>
    <section>
        <h2>Abonnements</h2>
        <table>
            {% for follow in follows %}
            <tr>
                <td>{{follow.username|capfirst}}</td>
                <td><a href="{% url 'unfollow' follow.id %}">Désabonner</a></td>
                
            </tr>
            {% endfor %}
        </table>
    </section>
    <section>
        <h2>Abonnés</h2>
        <table>
            {% for follower in followers %}
                <tr>
                    <td>{{follower.username|capfirst}}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</main>
{% endblock %}