{% extends 'review/base.html' %}

{% block page_name %}Abonnements{% endblock %}

{% block nav_content %}
<nav>
    <ul class="nav">
        <a href="{% url 'flux' %}" class="nav__link"><li>Flux</li></a>
        <a href="{% url 'posts' %}" class="nav__link"><li>Posts</li></a>
        <a href="{% url 'abonnements' %}" class="nav__link active"><li>Abonnements</li></a>
        <a href="{% url 'logout' %}" class="nav__link"><li>Se déconnecter</li></a>
    </ul>
</nav>
{% endblock %}

{% block main_content %}
<main class="follow-page">
    <section class="follow-page__follow">
        <h2>Suivre d'autre utilisateurs</h2>
        <form action="{% url 'follow_user' %}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Envoyer">
        </form>
    </section>
    <section class="follow-page__following">
        <h2>Abonnements</h2>
        <table>
            {% for follow in follows %}
            <tr>
                <td>{{follow.username|capfirst}}</td>
                <td><a href="{% url 'unfollow' follow.id %}">Désabonner</a></td>
                
            </tr>
            {% endfor %}
        </table>
    </section>
    <section class="follow-page__followers">
        <h2>Abonnés</h2>
        <table>
            {% for follower in followers %}
                <tr>
                    <td>{{follower.username}}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</main>
{% endblock %}