{% extends 'review/base.html' %}

{% block page_name %}Flux{% endblock %}

{% block nav_content %}
<nav>
    <ul class="nav">
        <a href="{% url 'flux' %}" class="nav__link active"><li>Flux</li></a>
        <a href="{% url 'posts' %}" class="nav__link"><li>Posts</li></a>
        <a href="{% url 'abonnements' %}" class="nav__link"><li>Abonnements</li></a>
        <a href="{% url 'logout' %}" class="nav__link"><li>Se déconnecter</li></a>
    </ul>
</nav>
{% endblock %}

{% block main_content %}
<main class="flux-page">
    <section class="flux-page__content">
        <div class="flux-page__content__actions">
            <a href="{% url 'new-ticket' %}"><button>Demander une critique</button></a>
            <a href=""><button>Créer une critique</button></a>
        </div>
        {% for ticket in tickets %}
        <article class="flux-page__content__article">
            <div class="flux-page__content__article__head">
                {% if ticket.user == request.user %}
                <p>Vous avez demandez un ticket</p>
                {% else %}
                <p>{{ticket.user.username}} a demandez un ticket</p>
                {% endif%}
                <p>{{ticket.time_created_as_text}}</p>
            </div>
            <h3>{{ ticket.title|capfirst }}</h3>
            <p>{{ticket.description}}</p>
            <img src="{{ticket.image.url}}" alt="">
        </article>
        {% endfor %}
    </section>
</main>
{% endblock %}