{% extends 'review/base.html' %}

{% block main_content %}
<main class="flux-page">
    <section class="flux-page__content">
        <div class="flux-page__content__actions">
            <a href="{% url 'new-ticket' %}"><button>Demander une critique</button></a>
            <a href=""><button>Créer une critique</button></a>
        </div>
        {% for ticket in tickets %}
        {% include 'review/partials/ticket.html' with ticket=ticket %}
        {% endfor %}
    </section>
</main>
{% endblock %}