{% extends 'review/base.html' %}

{% load review_extras %}

{% block main_content %}
<main class="posts-page">
    <h2>{{page_name}}</h2>
    {% for instance in posts %}
    {% if instance|ticket_or_review == 'Review' %}
    {% include 'review/partials/review.html' with review=instance %}
    {% elif instance|ticket_or_review == 'Ticket'%}
    {% include 'review/partials/ticket.html' with ticket=instance %}
    {% endif%}
    {% endfor %}
    {% include 'review/partials/pagination.html' with pagination=posts %}
</main>
{% endblock %}