{% extends 'review/base.html' %}

{% block page_name %}Posts{% endblock %}

{% block nav_content %}
<nav>
    <ul class="nav">
        <a href="{% url 'flux' %}" class="nav__link"><li>Flux</li></a>
        <a href="{% url 'posts' %}" class="nav__link active"><li>Posts</li></a>
        <a href="{% url 'abonnements' %}" class="nav__link"><li>Abonnements</li></a>
        <a href="{% url 'logout' %}" class="nav__link"><li>Se déconnecter</li></a>
    </ul>
</nav>
{% endblock %}

{% block main_content %}
<main class="posts-page">
    <h1>Vos posts</h1>
    {% for i in length %}
    <article class="posts-page__posts">
        <h2>Posts {{i}}</h2>
    </article>
    {% endfor %}
</main>
{% endblock %}