{% extends 'review/base.html' %}

{% block main_content %}
<main class="login-page">
    <article class="login-page__section">
        <h2 class="login-page__section__title">S'inscrire</h2>
        <a href="{% url 'signup' %}"><button>S'inscrire</button></a>
    </article>
    <article class="login-page__section">
        <h2 class="login-page__section__title">Connecter vous</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Connexion">
        </form>
    </article>
</main>
{% endblock %}