{% extends 'review/base.html' %}

{% block page_name %}Inscription{% endblock %}

{% block nav_content %}
{% endblock %}

{% block main_content %}
<main class="signup-page">
    <section class="signup-page__section">
        <h2 class="signup-page__section__title">Inscrivez-vous</h2>
        <form action="" method="post">
            <input type="text" placeholder="Nom d'utilisateur">
            <input type="password" placeholder="Mot de passe">
            <input type="password" placeholder="Confirmer mot de passe">
            <input type="submit">
        </form>
    </section>
</main>
{% endblock %}