{% extends 'review/base.html' %}

{% block main_content %}
<main class="signup-page">
    <section class="signup-page__section">
        <h2 class="signup-page__section__title">Inscrivez-vous</h2>
        <form action="" method="post">
            <!--
                {% for field in form %}
                {{field}}
                {{ field.errors }}
                {% endfor %}
            -->
            {% csrf_token %}
            {{form}}
            
            <input type="submit">
        </form>
    </section>
</main>
{% endblock %}