{% extends 'review/base.html' %}

{% block page_name %}Flux{% endblock %}

{% block nav_content %}
<nav>
    <ul class="nav">
        <a href="{% url 'flux' %}" class="nav__link"><li>Flux</li></a>
        <a href="{% url 'posts' %}" class="nav__link active"><li>Posts</li></a>
        <a href="{% url 'abonnements' %}" class="nav__link"><li>Abonnements</li></a>
        <a href="{% url 'logout' %}" class="nav__link"><li>Se déconnecter</li></a>
    </ul>
</nav>
{% endblock %}

{% block main_content %}
<main class="ticket-answer-page">
    <article class="ticket-answer-page__ticket">
        <div>
            {% if ticket.user == request.user %}
            <p>Vous avez demandez un ticket</p>
            {% else %}
            <p>{{ticket.user.username}} a demandez un ticket</p>
            {% endif%}
            <p>{{ticket.time_created_as_text}}</p>
        </div>
        <h2>{{ticket.title}}</h2>
        <p class="ticket-page__ticket__description">{{ticket.description}}</p>
        <img src="{{ticket.image.url}}" alt="">
    </article>
    <article class="ticket-answer-page__answer-form">

    </article>
</main>
{% endblock %}