{% extends 'review/base.html' %}

{% block main_content %}
<main class="ticket-page">
    <article class="ticket-page__ticket">
        <div>
            {% if ticket.user == request.user %}
            <p>Vous avez demandez un ticket</p>
            {% else %}
            <p>{{ticket.user.username}} a demandez un ticket</p>
            {% endif%}
            <p>{{ticket.time_created_as_text}}</p>
        </div>
        <h2>{{ticket.title}}</h2>
        <p class="ticket-page__ticket__description">{{ticket.description}}</p>
        <img src="{{ticket.image.url}}" alt="">
    </article>
</main>
{% endblock %}