.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #604039;
}
.header div, .header nav {
  width: 30%;
}
.header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  height: 50px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: end;
}
.nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}
.nav__link:hover, .nav__link.active {
  background-color: #ff5733;
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: #140805;
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #ff5733;
  text-decoration: none;
}
a:hover {
  color: #9BF50F;
  text-decoration: underline;
}

.review {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ad8c85;
  margin-top: 50px;
  background-color: #f9f6f5;
  border-radius: 10px;
}
.review div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.review .ticket {
  width: 90%;
}

.ticket {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ad8c85;
  margin-top: 50px;
  background-color: #f9f6f5;
  border-radius: 10px;
}
.ticket div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticket img {
  max-width: 90%;
  max-height: 400px;
  aspect-ratio: initial;
}
.ticket__description {
  width: 90%;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page__section {
  border: 1px solid #ad8c85;
  border-radius: 10px;
  background-color: #f9f6f5;
  padding: 20px;
  margin: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page__section__title {
  margin: 20;
}
.login-page__section form {
  display: flex;
  flex-direction: column;
}
.login-page__section form input {
  margin-top: 20px;
}
.login-page__section form input[type=submit] {
  min-width: 150px;
  border: none;
  border-radius: 999px;
  padding: 5px;
  background-color: #ff8166;
  color: white;
  font-weight: 600;
}
.login-page__section form input[type=submit]:hover {
  background-color: #ff5733;
}
.login-page__section form input[type=text], .login-page__section form input[type=password] {
  border: 1px solid #ad8c85;
  border-radius: 2px;
}
.login-page__section form input[type=text]:focus, .login-page__section form input[type=password]:focus {
  outline-color: #ad8c85;
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
  border: 2px solid #ff8166;
}
.login-page__section button {
  min-width: 150px;
  border: none;
  border-radius: 999px;
  padding: 5px;
  background-color: #ff8166;
  color: white;
  font-weight: 600;
}
.login-page__section button:hover {
  background-color: #ff5733;
}

.signup-page {
  display: flex;
  justify-content: center;
}
.signup-page__section {
  border: 1px solid #ad8c85;
  border-radius: 10px;
  background-color: #f9f6f5;
  padding: 20px;
  margin: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-page__section__title {
  margin: 20;
}
.signup-page__section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-page__section form label {
  display: none;
}
.signup-page__section form span {
  display: none;
  width: 300px;
  margin-top: 10px;
}
.signup-page__section form input {
  margin-top: 20px;
  width: 200px;
}
.signup-page__section form input[type=submit] {
  min-width: 150px;
  border: none;
  border-radius: 999px;
  padding: 5px;
  background-color: #ff8166;
  color: white;
  font-weight: 600;
}
.signup-page__section form input[type=submit]:hover {
  background-color: #ff5733;
}
.signup-page__section form input[type=text], .signup-page__section form input[type=password] {
  border: 1px solid #ad8c85;
  border-radius: 2px;
}
.signup-page__section form input[type=text]:focus, .signup-page__section form input[type=password]:focus {
  outline-color: #ad8c85;
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
  border: 2px solid #ff8166;
}
.signup-page__section form input:focus + br + span {
  display: inline;
}

.flux-page {
  display: flex;
  justify-content: center;
}
.flux-page__content {
  width: 60%;
  padding-bottom: 50px;
}
.flux-page__content__actions {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flux-page__content__actions button {
  min-width: 150px;
  border: none;
  border-radius: 999px;
  padding: 5px;
  background-color: #ff8166;
  color: white;
  font-weight: 600;
  width: 200px;
  height: 40px;
}
.flux-page__content__actions button:hover {
  background-color: #ff5733;
}

.flux-page__content__article {
  padding: 20px;
  border: 1px solid #ad8c85;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #f9f6f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flux-page__content__article__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flux-page__content__article img {
  max-width: 90%;
  max-height: 400px;
  aspect-ratio: initial;
}
.flux-page__content__article__description {
  width: 90%;
}

.follow-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}
.follow-page > section {
  margin-top: 50px;
  border: 1px solid #ad8c85;
  background-color: #f9f6f5;
  border-radius: 10px;
  padding-bottom: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow-page > section > * {
  margin: 0;
  margin-top: 30px;
}
.follow-page > section table, .follow-page > section tr, .follow-page > section td {
  border: 1px solid #140805;
  border-collapse: collapse;
}
.follow-page > section table {
  width: 75%;
}
.follow-page > section table tr > td:nth-child(2) {
  width: 125px;
  text-align: center;
}
.follow-page > section table td {
  padding: 3px;
}
.follow-page > section form {
  display: flex;
  justify-content: center;
  width: 75%;
}
.follow-page > section form input {
  margin-left: 20px;
}
.follow-page > section form input[type=submit] {
  min-width: 150px;
  border: none;
  border-radius: 999px;
  padding: 5px;
  background-color: #ff8166;
  color: white;
  font-weight: 600;
}
.follow-page > section form input[type=submit]:hover {
  background-color: #ff5733;
}
.follow-page > section form input[type=text] {
  border: 1px solid #ad8c85;
  border-radius: 2px;
  width: 50%;
}
.follow-page > section form input[type=text]:focus {
  outline-color: #ad8c85;
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
  border: 2px solid #ff8166;
}

.posts-page__posts {
  border-radius: 5px;
  border: 1px solid black;
}

.ticket-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-page__ticket {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ad8c85;
  margin-top: 50px;
  background-color: #f9f6f5;
  border-radius: 10px;
}
.ticket-page__ticket div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticket-page__ticket img {
  max-width: 90%;
  max-height: 400px;
  aspect-ratio: initial;
}
.ticket-page__ticket__description {
  width: 90%;
}

.new-ticket-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-ticket-page__content {
  padding: 20px;
  border: 1px solid #ad8c85;
  margin-top: 50px;
  background-color: #f9f6f5;
  border-radius: 10px;
}
.new-ticket-page__content h2 {
  text-align: center;
}
.new-ticket-page__content form {
  margin-top: 20px;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.new-ticket-page__content form input[type=text], .new-ticket-page__content form textarea {
  border: 1px solid #ad8c85;
  border-radius: 2px;
}
.new-ticket-page__content form input[type=text]:focus, .new-ticket-page__content form textarea:focus {
  outline-color: #ad8c85;
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
  border: 2px solid #ff8166;
}
.new-ticket-page__content form label {
  display: none;
}

.ticket-answer-page__ticket {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ad8c85;
  margin-top: 50px;
  background-color: #f9f6f5;
  border-radius: 10px;
}
.ticket-answer-page__ticket div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticket-answer-page__ticket img {
  max-width: 90%;
  max-height: 400px;
  aspect-ratio: initial;
}
.ticket-answer-page__ticket__description {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
